@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500");

body {
  background: #fdfdfd;
  font-family: "Roboto", sans-serif;
}

.active {
  visibility: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #555;
}

h1{
  font-size:2rem;
}
h2{
  font-size: 1.8rem;
}
h3{
  font-size: 1.4rem;
  margin: 4px 0;
  line-height: 2rem;
}
h5{
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin: 4px 0;
}


li {
  list-style-type: none;
}

#content {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  overflow: auto;
  resize: horizontal;
  max-width: 1600px;
  margin: auto;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header"
    "backdrop"
    "profile"
    "main";
}

.categoryHeading {
  color: #555;
}

/********** HEADER ***********/
#header {
  grid-area: header;
  top: 0px;
  position: fixed;
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: auto 1fr;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.28);
  background: #001122fb;
  z-index: 100;
}

 .back {
   display: inline-block;
  background: none;
  color: #2196f3;
  border: none;
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: center;
  padding: 5px;
}

.back span {
  margin-bottom: 10px;
}

.back img {
  height: 30px;
  margin: 0 -2px -7px 0;

}


/******* CARD *******/
#card {
  grid-area: card;
  min-width: 330px;
  max-width: 400px;
  min-height: 155px;
  max-height: 170px;
  display: grid;
  border-radius: 8px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.18);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas:
    "profileIMG"
    "mail"
    "location"
    "tags";
  margin: 100px auto auto auto;
  background: white;
  margin-top: -90px;
  color: #707070;
}

#profileIMG {
  grid-area: profileIMG;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: auto;
  margin-top: -70px;
  width: 100px;
  height: 100px;
}

#mail {
  display: grid;
  grid-area: mail;
  grid-template-columns: auto 1fr;
  grid-template-areas: "mailIcon mailData";
  padding: 0 50px;
  align-items: center;
  justify-items: start;
  gap: 0.5rem;
}

#mailIcon {
  grid-area: mailIcon;
}

#mail-data {
  grid-area: mailData;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

#location {
  display: grid;
  grid-area: location;
  grid-template-columns: auto 1fr;
  grid-template-areas: "locationIcon locationData";
  padding: 0 50px;
  align-items: center;
  justify-items: start;
  gap: 0.5rem;
}

#locationIcon {
  grid-area: locationIcon;
}

#locationData {
  grid-area: locationData;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

#tags p {
  font-weight: 100;
  font-size: 0.8rem;
  padding: 0 50px;
}
/****** BACKDROP *******/
.backdrop {
  grid-area: backdrop;
  width: 100vw;
  /*   position: fixed;
  top:45px;
  z-index: -5; */
}

/******* SCHOOLS ********/
#schoolComponent {
  /*   grid-area: schoolComponent; */
  margin-top: 3rem;
}

.schoolItem {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "schoolImage courseName"
    "schoolImage schoolName"
    "schoolImage shortDescription";
  text-align: left;
  padding: 0 15px 30px 35px;
  border-left: 3px solid #d6d6d6;
  margin-left: 5%;
  margin-top: 5px;
}

.schoolName {
  grid-area: schoolName;
  line-height: 1rem;
  margin: 0;
  font-weight: 300;
  font-style: italic;
}

.courseName {
  grid-area: courseName;
  text-decoration: none;
}

.courseName:visited {
  text-decoration: none;
}

.shortDescription {
  grid-area: shortDescription;
}

.schoolImage {
  grid-area: schoolImage;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.18);
  margin-left: -65px;
  transition: all .2s ease-out;
}

.schoolImage:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.14);
}

/******* PROJECTS *******/
#projectComponent {
  /*   grid-area: projectComponent; */
  margin-top: 3rem;
}

.projectItem {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "projectImage projectName"
    "projectImage projectType"
    "projectImage projectDescription";
  text-align: left;
  padding: 0 15px 30px 35px;
  margin-left: 5%;
  margin-top: 5px;
}

.projectName {
  grid-area: projectName;
  margin: 0;
}

.projectType {
  grid-area: projectType;
  font-weight: 300;
  font-style: italic;
}

.projectDescription {
  grid-area: projectDescription;
}

.projectImage {
  grid-area: projectImage;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.18);
  margin-left: -65px;
}

/******** TECHNOLOGIES *********/
#technologyComponent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  /*   grid-area: technologyComponent; */
  margin-top: 3rem;
  grid-template-areas:
    "technologyHeading"
    "technologyList";
}

#technologyComponent .categoryHeading {
  grid-area: technologyHeading;
}

.technologyList {
  grid-area: technologyList;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "technologyItem technologyItem technologyItem";
  gap: 5px;
}

li .technologyItem {
  display: grid;
  grid-area: technologyItem;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "technologyImage"
    "technologyName";
  list-style-type: none;
}

.technologyItem .name {
  grid-area: technologyName;
  line-height: 1rem;
  margin: 0;
}

.technologyImage {
  grid-area: technologyImage;
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.18);
  margin: auto;
}
